/* If you have an App.css or global CSS file, define the fadeText keyframes */
@keyframes fadeText {
    0%   { opacity: 0; }
    10%  { opacity: 1; }
    90%  { opacity: 1; }
    100% { opacity: 0; }
  }
  body {
  overflow-x: hidden;
}
.transition-transform {
  transition: transform 0.3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
